<div *ngIf="kitap" class="kitap-detaylari-container">
  <h2>{{ kitap?.baslik }}</h2>
  <p><strong>Yazar:</strong> {{ kitap?.yazar }}</p>
  <p><strong>Yayın Yılı:</strong> {{ kitap?.yayinYili }}</p>
  <p><strong>Fiyat:</strong> {{ kitap?.fiyat | currency }}</p>
  <!-- <button mat-raised-button color="primary" [routerLink]="['/kitap-duzenle', kitap?.id]">Düzenle</button> -->
</div>
<div *ngIf="!kitap" class="kitap-detaylari-container">
  <p>Kitap bilgisi bulunamadı.</p>
</div>

<div class="kitap-detaylari-container">
  <app-yorum-formu></app-yorum-formu>
  <app-yorum-listesi></app-yorum-listesi>
</div>
