<div class="kitaplar-container">
  <h1 class="kitaplar-title">Kitap Listesi</h1>
  <button mat-raised-button color="primary" (click)="openDialog()">Kitap Ekle</button>
  <div class="filter">
  <mat-form-field>
    <mat-label>Sırala:</mat-label>
    <mat-select (selectionChange)="onSortChange($event)">
      <mat-option value="title">Ada göre sırala</mat-option>
      <mat-option value="average">Ortalama Puana Göre Sırala</mat-option>
      <mat-option value="price">Fiyata Göre Sırala</mat-option>
    </mat-select>
  </mat-form-field>
</div>
  <div class="kitap-listesi">
    <div *ngFor="let kitap of kitaplar" class="kitap-liste-satiri">
      <div class="kitap-card">
        <mat-card>
          <mat-card-content>
            <mat-card-title>{{ kitap.baslik }}</mat-card-title>
            <p>Yazar: {{ kitap.yazar }}</p>
            <p>Yayın Yılı: {{ kitap.yayinYili }}</p>
            <p>Fiyat: {{ kitap.fiyat | currency }}</p>
            <p>Ortalama Puan: {{ kitap.ortalamaPuan }}</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="openInfoDialog(kitap)">Detaylar</button>
            <button mat-button (click)="openChangeDialog(kitap)">Düzenle</button>
            <button mat-button (click)="deleteKitap(kitap.id)">Sil</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
