.kitap-form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .form-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
mat-form-field {
  width: 100%;
  margin-bottom: 15px;
}

button {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  width: 200px;
}
